/* .ListRegister {
}
.ListRegister table td,
.ListRegister table th {
  text-align: center;
}

.ListRegister td,
.ListRegister th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.ListRegister tr:nth-child(even) {
  background-color: #dddddd;
} */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}
.table .row-header {
  color: #9e9e9e;
}
.table tr {
  border-bottom: 1px solid #bdbdbd;
}
.table tr:last-child {
  border: 0;
}
.table td {
  text-align: center;
  padding: 1.4rem 1rem;
}
.table .left {
  text-align: left;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(56, 142, 60, 0.125);
}

.table-hover > tbody > tr:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.12);
}
